
body{
    background-image: url('https://photo620x400.mnstatic.com/c503e4c6a157005c786736434e975c50/puente-balancan.jpg');
    background-size: 1250px;
    

    

  }
    body {
        font: 14px "Arial", Futura, sans-serif;
        margin: 20px;
      }
    .Cuerpo-Formulario{
      min-height: 10vh;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: calc(5px + 1vmin);
      background-color: #c9e078;
      border-collapse: collapse;}
    .Cuerpo-Formulario{
      min-height: 10vh;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: calc(5px + 1vmin);
      background-color: #c9e078;
      border-collapse: collapse;
    }
      .th, td, th{
        border: 1px solid rgb(39, 168, 34);
        text-align-last: center;
      }
    .Cuerpo-formulario{
      size:calc(50px + 1vmin);
    }
      
      